
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    match /public_analysis_results/{docId} {
      allow get: if true;
      allow create: if true;
      allow update, delete: if false;
    }
    
    match /public_analysis_results {
        allow list: if true;
    }

    match /users/{userId} {
      allow get, create, update, delete: if isOwner(userId);
      allow list: if false;

      match /analysis_results/{analysisResultId} {
        allow read, write: if isOwner(userId);
      }

      match /app_settings/{appSettingId} {
        allow read, write: if isOwner(userId);
      }
    }
  }
}
